.button {
    background-color: #C6FC03;
    color: #000000;
    border-radius: 2vh;
    padding: 10%;
    margin: 2%;
    text-wrap: nowrap;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    cursor: pointer;
}